
@{
    ViewBag.Title = "Player List";
}

<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
@if (ViewBag.WatchList != null && ViewBag.WatchList.Count != 0)
{
    <h2>@ViewBag.WatchListName</h2><br />
    <p><a href="/Home/WatchList?watchlistId=@ViewBag.WatchListID&watchListName=@ViewBag.WatchListName" class="btn btn-default btn-sm"> Inspect</a></p>

    <div class="col-md-10 table-responsive">
        <!--document.write('<a href="' + burl + '">Open here</a>');-->
        <!--<a href="" class=" btn btn-success btn-lg">Save</a><a href="/Home/NewWatchlist" class=" btn btn-info btn-lg">New Watchlist</a>-->
        <table id="tab2" class="table table-hover table-bordered" style="padding: 3px">
            <thead class="thead-dark" style="background-color: darkgrey">
                <tr>
                    <td>Position</td>
                    <td>First Name</td>
                    <td>Last Name</td>

                </tr>

            </thead>

            @for (int i = 0; i < @ViewBag.WatchList.Count; i++)
            {
                <tr class="active" style="background-color: whitesmoke">
                    <td style="display:none">@ViewBag.WatchList[i]["player"]["ID"]</td>
                    <td>@ViewBag.WatchList[i]["player"]["Position"]</td>
                    <td>@ViewBag.WatchList[i]["player"]["FirstName"]</td>
                    <td>@ViewBag.WatchList[i]["player"]["LastName"]</td>
                </tr>
            }

        </table>
    </div>
}
<br />
<h2>Player List</h2>

<br />
<br />
<div class="btn-group">
    <a href="/Home/SearchPlayers?pos=QB" class=" btn btn-info btn-lg">QB</a>
    <a href="/Home/SearchPlayers?pos=RB" class=" btn btn-info btn-lg">RB</a>
    <a href="/Home/SearchPlayers?pos=WR" class=" btn btn-info btn-lg">WR</a>
    <a href="/Home/SearchPlayers?pos=TE" class=" btn btn-info btn-lg">TE</a>
    <a href="/Home/SearchPlayers?pos=K" class=" btn btn-info btn-lg">K</a>
</div>
<br />
<br />
<table id="tab1" class="table table-striped table-bordered table-hover" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <td style="display:none">ID</td>
            <td>Position</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Team</td>
            <td>Pass Att</td>
            <td>Pass Comp</td>
            <td>Pass Yds</td>
            <td>Pass TD</td>
            <td>Interceptions</td>
            <td>Rush Att</td>
            <td>Rush Yds</td>
            <td>Rush TD</td>
            <td>Receptions</td>
            <td>Receiving Yards</td>
            <td>Receiving TD</td>
            <td>FG Att</td>
            <td>FG Made</td>
            <td>Score</td>

            @for (int j = 0; j < ViewBag.UserWatchlists.Count; j++)
            {
                <!-- First iteration is for a new watchlist -->
                if (j == 0)
                {
                    <td style="background-color: lightpink">
                        Add to:
                        <strong>NEW</strong>
                    </td>
                }
                else
                {
                    <td>
                        Add to Existing:
                        <strong><i>@ViewBag.UserWatchlists[j]</i></strong>
                    </td>
                }
            }
        </tr>
    </thead>

    @for (int i = 0; i < @ViewBag.Players.Count; i++)
    {
        <tr class="active" style="background-color: whitesmoke">
            <td style="display:none">@ViewBag.Players[i]["player"]["ID"]</td>
            <td>@ViewBag.Players[i]["player"]["Position"]</td>
            <td>@ViewBag.Players[i]["player"]["FirstName"]</td>
            <td>@ViewBag.Players[i]["player"]["LastName"]</td>
            <td>@ViewBag.Players[i]["team"]["Abbreviation"]</td>
            <td>@(ViewBag.Players[i]["stats"]["PassAttempts"] == null || ViewBag.Players[i]["stats"]["PassAttempts"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassAttempts"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["PassCompletions"] == null || ViewBag.Players[i]["stats"]["PassCompletions"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassCompletions"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["PassYards"] == null || ViewBag.Players[i]["stats"]["PassYards"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassYards"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["PassTD"] == null || ViewBag.Players[i]["stats"]["PassTD"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassTD"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["PassInt"] == null || ViewBag.Players[i]["stats"]["PassInt"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassInt"]["#text"])</td>

            <td>@(ViewBag.Players[i]["stats"]["RushAttepmts"] == null || ViewBag.Players[i]["stats"]["RushAttepmts"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RushAttepmts"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["RushYards"] == null || ViewBag.Players[i]["stats"]["RushYards"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RushYards"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["RushTD"] == null || ViewBag.Players[i]["stats"]["RushTD"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RushTD"]["#text"])</td>

            <td>@(ViewBag.Players[i]["stats"]["Receptions"] == null || ViewBag.Players[i]["stats"]["Receptions"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["Receptions"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["RecYards"] == null || ViewBag.Players[i]["stats"]["RecYards"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RecYards"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["RecTD"] == null || ViewBag.Players[i]["stats"]["RecTD"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RecTD"]["#text"])</td>

            <td>@(ViewBag.Players[i]["stats"]["FgAtt"] == null || ViewBag.Players[i]["stats"]["FgAtt"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["FgAtt"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["FgMade"] == null || ViewBag.Players[i]["stats"]["FgMade"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["FgMade"]["#text"])</td>
            @{
                var player = ViewBag.Players[i]["stats"];
                var score = 0;
                score += ViewBag.Players[i]["stats"]["PassTD"] == null ? 0 : Convert.ToInt32(player["PassTD"]["#text"]) * 6;
                score += ViewBag.Players[i]["stats"]["PassYards"] == null ? 0 : Convert.ToInt32(player["PassYards"]["#text"]) * .04;
                score -= ViewBag.Players[i]["stats"]["PassInt"] == null ? 0 : Convert.ToInt32(player["PassInt"]["#text"]) * 2;
                score += ViewBag.Players[i]["stats"]["RushYards"] == null ? 0 : Convert.ToInt32(player["RushYards"]["#text"]) / 10;
                score += ViewBag.Players[i]["stats"]["RushTD"] == null ? 0 : Convert.ToInt32(player["RushTD"]["#text"]) * 6;
                score += ViewBag.Players[i]["stats"]["RecYards"] == null ? 0 : Convert.ToInt32(player["RecYards"]["#text"]) / 10;
                score += ViewBag.Players[i]["stats"]["RecTD"] == null ? 0 : Convert.ToInt32(player["RecTD"]["#text"]) * 6;
                score += ViewBag.Players[i]["stats"]["FgMade"] == null ? 0 : Convert.ToInt32(player["FgMade"]["#text"]) * 3;


            }
            <td>@score</td>

            @for (int j = 0; j < ViewBag.UserWatchlists.Count; j++)
                {
                    if (j == 0)
                    {

                    <td style="background-color: lightpink">
                        <a id="yourHref" href="/Home/SavePlayerToNewList?PlayerId=@ViewBag.Players[i]["player"]["ID"]&watchListName=" class="btn btn-danger btn-sm" onclick="myFunction()">Add</a>
                    </td>
                }
                else
                {
                    <td>
                        <a href="/Home/SavePlayerToExistingList?PlayerId=@ViewBag.Players[i]["player"]["ID"]&watchListName=@ViewBag.UserWatchlists[j]" class="btn btn-primary btn-sm">Add</a>
                    </td>
                }
            }
        </tr>

                }
</table>




@*Figure out a better place for this.  It just needs to run before the document on ready.*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


<script>
    function myFunction() {
        var txt;
        var watchListName = prompt("Please enter the name for your new watchlist:");
        if (watchListName == null || watchListName == "") {
            txt = "User cancelled the prompt.";
        } else {
            txt = watchListName;
        }

        var yourElement = document.getElementById('yourHref');
        yourElement.setAttribute('href', yourElement.getAttribute('href') + txt);

    }
</script>

<script>

    $(document).ready(function () {

        $('#tab1').DataTable({
            "columnDefs": [
                { "className": "dt-center", "targets": "_all", "fixedColumns": "{leftColumns : 1}" }]

        });
    });

</script>