
@{
    ViewBag.Title = "Player List";
}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />

<div class="table-responsive ">
    <table id="tab2" class="table table-hover table-bordered" style="padding: 3px">
        <thead class="thead-dark" style="background-color: darkgrey">
            <tr>
                <td>Position</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Team</td>
                <td>Pass Att</td>
                <td>Pass Comp</td>
                <td>Pass Yds</td>
                <td>Pass TD</td>
                <td>Interceptions</td>
                <td>Rush Att</td>
                <td>Rush Yds</td>
                <td>Rush TD</td>
                <td>Receptions</td>
                <td>Receiving Yards</td>
                <td>Receiving TD</td>
                <td>Fg Att</td>
                <td>Fg Made</td>
            </tr>

        </thead>

    </table>

</div>

<h2>Player List</h2>

<br />
<br />
<div class="btn-group">
    <a href="/Home/SearchPlayers" class=" btn btn-info btn-lg">All</a>
    <a href="/Home/SearchPlayers?pos=QB" class=" btn btn-info btn-lg">QB</a>
    <a href="/Home/SearchPlayers?pos=RB" class=" btn btn-info btn-lg">RB</a>
    <a href="/Home/SearchPlayers?pos=WR" class=" btn btn-info btn-lg">WR</a>
    <a href="/Home/SearchPlayers?pos=TE" class=" btn btn-info btn-lg">TE</a>
    <a href="/Home/SearchPlayers?pos=K" class=" btn btn-info btn-lg">K</a>
</div>
<br />
<br />
<table id="tab1" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td style="display:none">ID</td>
            <td>Position</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Team</td>
            <td>Pass Att</td>
            <td>Pass Comp</td>
            <td>Pass Yds</td>
            <td>Pass TD</td>
            <td>Interceptions</td>
            <td>Rush Att</td>
            <td>Rush Yds</td>
            <td>Rush TD</td>
            <td>Receptions</td>
            <td>Receiving Yards</td>
            <td>Receiving TD</td>
            <td>FG Att</td>
            <td>FG Made</td>
            <td>Pick</td>
            <td>Add</td>
        </tr>
    </thead>

    @for (int i = 0; i < @ViewBag.Players.Count; i++)
    {
        <tr class="active" style="background-color: whitesmoke">
            <td style="display:none">@ViewBag.Players[i]["player"]["ID"]</td>
            <td>@ViewBag.Players[i]["player"]["Position"]</td>
            <td>@ViewBag.Players[i]["player"]["FirstName"]</td>
            <td>@ViewBag.Players[i]["player"]["LastName"]</td>
            <td>@ViewBag.Players[i]["team"]["Abbreviation"]</td>
            <td>@(ViewBag.Players[i]["stats"]["PassAttempts"] == null || ViewBag.Players[i]["stats"]["PassAttempts"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassAttempts"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["PassCompletions"] == null || ViewBag.Players[i]["stats"]["PassCompletions"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassCompletions"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["PassYards"] == null || ViewBag.Players[i]["stats"]["PassYards"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassYards"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["PassTD"] == null || ViewBag.Players[i]["stats"]["PassTD"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassTD"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["PassInt"] == null || ViewBag.Players[i]["stats"]["PassInt"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassInt"]["#text"])</td>

            <td>@(ViewBag.Players[i]["stats"]["RushAttepmts"] == null || ViewBag.Players[i]["stats"]["RushAttepmts"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RushAttepmts"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["RushYards"] == null || ViewBag.Players[i]["stats"]["RushYards"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RushYards"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["RushTD"] == null || ViewBag.Players[i]["stats"]["RushTD"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RushTD"]["#text"])</td>

            <td>@(ViewBag.Players[i]["stats"]["Receptions"] == null || ViewBag.Players[i]["stats"]["Receptions"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["Receptions"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["RecYards"] == null || ViewBag.Players[i]["stats"]["RecYards"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RecYards"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["RecTD"] == null || ViewBag.Players[i]["stats"]["RecTD"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RecTD"]["#text"])</td>

            <td>@(ViewBag.Players[i]["stats"]["FgAtt"] == null || ViewBag.Players[i]["stats"]["FgAtt"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["FgAtt"]["#text"])</td>
            <td>@(ViewBag.Players[i]["stats"]["FgMade"] == null || ViewBag.Players[i]["stats"]["FgMade"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["FgMade"]["#text"])</td>

            <td><input type="checkbox" name="check-tab1" /></td>
            <td>
                <a onclick="tab1_To_tab2()" class="btn btn-default btn-sm"> Add</a>
            </td>
        </tr>
    }

</table>

<script>
    function tab1_To_tab2() {
        var table1 = document.getElementById("tab1"),
            table2 = document.getElementById("tab2"),
            checkboxes = document.getElementsByName("check-tab1");

        for (var i = 0; i < checkboxes.length; i++)
            if (checkboxes[i].checked) {

                //Create new row and cells
                var newRow = tab2.insertRow(tab2.length),
                    cell1 = newRow.insertCell(0),
                    cell2 = newRow.insertCell(1),
                    cell3 = newRow.insertCell(2),
                    cell4 = newRow.insertCell(3),
                    cell5 = newRow.insertCell(4),
                    cell6 = newRow.insertCell(5),
                    cell7 = newRow.insertCell(6),
                    cell8 = newRow.insertCell(7),
                    cell9 = newRow.insertCell(8),
                    cell10 = newRow.insertCell(9),
                    cell11 = newRow.insertCell(10),
                    cell12 = newRow.insertCell(11),
                    cell13 = newRow.insertCell(12),
                    cell14 = newRow.insertCell(13),
                    cell15 = newRow.insertCell(14),
                    cell16 = newRow.insertCell(15),
                    cell17 = newRow.insertCell(16),
                    cell18 = newRow.insertCell(17),
                    cell19 = newRow.insertCell(18);

                //add values to the cells


                cell1.innerHTML = tab1.rows[i + 1].cells[1].innerHTML;
                cell2.innerHTML = tab1.rows[i + 1].cells[2].innerHTML;
                cell3.innerHTML = tab1.rows[i + 1].cells[3].innerHTML;
                cell4.innerHTML = tab1.rows[i + 1].cells[4].innerHTML;
                cell5.innerHTML = tab1.rows[i + 1].cells[5].innerHTML;
                cell6.innerHTML = tab1.rows[i + 1].cells[6].innerHTML;
                cell7.innerHTML = tab1.rows[i + 1].cells[7].innerHTML;
                cell8.innerHTML = tab1.rows[i + 1].cells[8].innerHTML;
                cell9.innerHTML = tab1.rows[i + 1].cells[9].innerHTML;
                cell10.innerHTML = tab1.rows[i + 1].cells[10].innerHTML;
                cell11.innerHTML = tab1.rows[i + 1].cells[11].innerHTML;
                cell12.innerHTML = tab1.rows[i + 1].cells[12].innerHTML;
                cell13.innerHTML = tab1.rows[i + 1].cells[13].innerHTML;
                cell14.innerHTML = tab1.rows[i + 1].cells[14].innerHTML;
                cell15.innerHTML = tab1.rows[i + 1].cells[15].innerHTML;
                cell16.innerHTML = tab1.rows[i + 1].cells[16].innerHTML;
                cell17.innerHTML = tab1.rows[i + 1].cells[17].innerHTML;
                cell18.innerHTML = "<input type='checkbox' name='check-tab2'>";
                cell19.innerHTML = "<a onclick='tab2_To_tab1()' class='btn btn-default btn-sm'>Delete</a>";


                //remove the transfered rows from the first table

                var index = tab1.rows[i + 1].rowIndex;
                tab1.deleteRow(index);
                //we have deleted some rows so the checkboxes.length have changed
                //so we have to decrement the value of i
                i--;

                console.log("yes");

            }
    }

    function tab2_To_tab1() {
        var table1 = document.getElementById("tab1"),
            table2 = document.getElementById("tab2"),
            checkboxes = document.getElementsByName("check-tab2");

        for (var i = 0; i < checkboxes.length; i++)
            if (checkboxes[i].checked) {

                //Create new row and cells
                var newRow = tab1.insertRow(tab1.length),
                    cell1 = newRow.insertCell(0),
                    cell2 = newRow.insertCell(1),
                    cell3 = newRow.insertCell(2),
                    cell4 = newRow.insertCell(3),
                    cell5 = newRow.insertCell(4),
                    cell6 = newRow.insertCell(5),
                    cell7 = newRow.insertCell(6),
                    cell8 = newRow.insertCell(7),
                    cell9 = newRow.insertCell(8),
                    cell10 = newRow.insertCell(9),
                    cell11 = newRow.insertCell(10),
                    cell12 = newRow.insertCell(11),
                    cell13 = newRow.insertCell(12),
                    cell14 = newRow.insertCell(13),
                    cell15 = newRow.insertCell(14),
                    cell16 = newRow.insertCell(15),
                    cell17 = newRow.insertCell(16),
                    cell18 = newRow.insertCell(17),
                    cell19 = newRow.insertCell(18);

                //add values to the cells


                cell1.innerHTML = tab2.rows[i + 1].cells[0].innerHTML;
                cell2.innerHTML = tab2.rows[i + 1].cells[1].innerHTML;
                cell3.innerHTML = tab2.rows[i + 1].cells[2].innerHTML;
                cell4.innerHTML = tab2.rows[i + 1].cells[3].innerHTML;
                cell5.innerHTML = tab2.rows[i + 1].cells[4].innerHTML;
                cell6.innerHTML = tab2.rows[i + 1].cells[5].innerHTML;
                cell7.innerHTML = tab2.rows[i + 1].cells[6].innerHTML;
                cell8.innerHTML = tab2.rows[i + 1].cells[7].innerHTML;
                cell9.innerHTML = tab2.rows[i + 1].cells[8].innerHTML;
                cell10.innerHTML = tab2.rows[i + 1].cells[9].innerHTML;
                cell11.innerHTML = tab2.rows[i + 1].cells[10].innerHTML;
                cell12.innerHTML = tab2.rows[i + 1].cells[11].innerHTML;
                cell13.innerHTML = tab2.rows[i + 1].cells[12].innerHTML;
                cell14.innerHTML = tab2.rows[i + 1].cells[13].innerHTML;
                cell15.innerHTML = tab2.rows[i + 1].cells[14].innerHTML;
                cell16.innerHTML = tab2.rows[i + 1].cells[15].innerHTML;
                cell17.innerHTML = tab2.rows[i + 1].cells[16].innerHTML;
                cell18.innerHTML = "<input type='checkbox' name='check-tab2'>";
                cell19.innerHTML = "<a onclick='tab2_To_tab1()' class='btn btn-default btn-sm'>Add</a>";


                //remove the transfered rows from the first table

                var index = tab2.rows[i + 1].rowIndex;
                tab2.deleteRow(index);
                //we have deleted some rows so the checkboxes.length have changed
                //so we have to decrement the value of i
                i--;

                console.log("yes");

            }
    }


</script>

@*Figure out a better place for this.  It just needs to run before the document on ready.*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#tab1').DataTable({
        });
    });
</script>



