
@{
    ViewBag.Title = "Player List";
}


<h2>Player List</h2>

<br />
<br />
<div class="btn-group">
    <a href="/Home/SearchPlayers" class=" btn btn-info btn-lg">All</a>
    <a href="/Home/SearchPlayers?pos=QB"         class=" btn btn-info btn-lg">QB</a>
    <a href="/Home/SearchPlayers?pos=RB"         class=" btn btn-info btn-lg">RB</a>
    <a href="/Home/SearchPlayers?pos=WR"         class=" btn btn-info btn-lg">WR</a>
    <a href="/Home/SearchPlayers?pos=TE"         class=" btn btn-info btn-lg">TE</a>
    <a href="/Home/SearchPlayers?pos=K"          class=" btn btn-info btn-lg">K</a>
    <form action="/Home/SearchPlayers">
        <input type="text" name="player"/>
        <input type="hidden" name="pos" value="@ViewBag.Pos"/>
        <input type="submit" value="Search"/>
        <p style="color: brown">You must search by last name only!</p>
    </form>
</div>
<br />
<br />

<p>Click the button to sort the table alphabetically, by name:</p>
<p><button onclick="sortTable()">Sort</button></p>

@if (ViewBag.Players == null)
{
    <table class="table table-hover table-bordered">
        <thead class="thead-dark" style="background-color: darkgrey">
            <tr>
                <th>Position</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>Pass Att</th>
                <th>Pass Comp</th>
                <th>Pass Yds</th>
                <th>Pass TD</th>
                <th>Interceptions</th>
                <th>Rush Att</th>
                <th>Rush Yds</th>
                <th>Rush TD</th>
                <th>Receptions</th>
                <th>Receiving Yards</th>
                <th>Receiving TD</th>
                <th>FG Att</th>
                <th>FG Made</th>
            </tr>
        </thead>
        </table>
}
else
{
    <div class="table-responsive">
        <table id="mainTable" class="table table-bordered table-hover">
            <thead class="thead-dark" style="background-color: darkgrey">
                <tr>
                    <th>Position <button onclick="sortTable()" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Team</th>
                    <th>Pass Att</th>
                    <th>Pass Comp</th>
                    <th>Pass Yds</th>
                    <th>Pass TD</th>
                    <th>Interceptions</th>
                    <th>Rush Att</th>
                    <th>Rush Yds</th>
                    <th>Rush TD</th>
                    <th>Receptions</th>
                    <th>Receiving Yards</th>
                    <th>Receiving TD</th>
                    <th>FG Att</th>
                    <th>FG Made</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 25@*ViewBag.Players.Count*@; i++)
                {
                    <tr class="active" style="background-color: whitesmoke">
                        <td style="display:none">@ViewBag.Players[i]["player"]["ID"]</td>
                        <td>@ViewBag.Players[i]["player"]["Position"]</td>
                        <td>@ViewBag.Players[i]["player"]["FirstName"]</td>
                        <td>@ViewBag.Players[i]["player"]["LastName"]</td>
                        <td>@ViewBag.Players[i]["team"]["Abbreviation"]</td>
                        <td>@(ViewBag.Players[i]["stats"]["PassAttempts"] == null || ViewBag.Players[i]["stats"]["PassAttempts"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassAttempts"]["#text"])</td>
                        <td>@(ViewBag.Players[i]["stats"]["PassCompletions"] == null || ViewBag.Players[i]["stats"]["PassCompletions"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassCompletions"]["#text"])</td>
                        <td>@(ViewBag.Players[i]["stats"]["PassYards"] == null || ViewBag.Players[i]["stats"]["PassYards"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassYards"]["#text"])</td>
                        <td>@(ViewBag.Players[i]["stats"]["PassTD"] == null || ViewBag.Players[i]["stats"]["PassTD"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassTD"]["#text"])</td>
                        <td>@(ViewBag.Players[i]["stats"]["PassInt"] == null || ViewBag.Players[i]["stats"]["PassInt"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["PassInt"]["#text"])</td>

                        <td>@(ViewBag.Players[i]["stats"]["RushAttepmts"] == null || ViewBag.Players[i]["stats"]["RushAttepmts"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RushAttepmts"]["#text"])</td>
                        <td>@(ViewBag.Players[i]["stats"]["RushYards"] == null || ViewBag.Players[i]["stats"]["RushYards"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RushYards"]["#text"])</td>
                        <td>@(ViewBag.Players[i]["stats"]["RushTD"] == null || ViewBag.Players[i]["stats"]["RushTD"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RushTD"]["#text"])</td>

                        <td>@(ViewBag.Players[i]["stats"]["Receptions"] == null || ViewBag.Players[i]["stats"]["Receptions"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["Receptions"]["#text"])</td>
                        <td>@(ViewBag.Players[i]["stats"]["RecYards"] == null || ViewBag.Players[i]["stats"]["RecYards"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RecYards"]["#text"])</td>
                        <td>@(ViewBag.Players[i]["stats"]["RecTD"] == null || ViewBag.Players[i]["stats"]["RecTD"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["RecTD"]["#text"])</td>

                        <td>@(ViewBag.Players[i]["stats"]["FgAtt"] == null || ViewBag.Players[i]["stats"]["FgAtt"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["FgAtt"]["#text"])</td>
                        <td>@(ViewBag.Players[i]["stats"]["FgMade"] == null || ViewBag.Players[i]["stats"]["FgMade"]["#text"] == "0" ? "-" : ViewBag.Players[i]["stats"]["FgMade"]["#text"])</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


<script>
    function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        var xint = 0, yint = 0;
        table = document.getElementById("mainTable");
        switching = true;
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[5];
                y = rows[i + 1].getElementsByTagName("TD")[5];
                //console.log(x);
                //console.log(y);
                //console.log("---");
                // Check if the two rows should switch place:

                xint = parseInt(x.innerHTML);
                yint = parseInt(y.innerHTML);

                if (yint > xint) {

                    console.log(xint);
                    console.log(yint);
                    // I so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
</script>